/* Top Sellers */
.collections-container {
  padding-top: 2rem;
  background: #fdf6e3;
}

.collections-container h2 {
  font-size: 5rem;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 2rem;
}

.collections.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8rem;
}

.collections.card img {
  height: 35rem;
  width: 35rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
}

.collections.card img:hover {
  scale: 1.05;
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.collections.card a {
  text-decoration: none;
  font-size: 3rem;
}

.collections.card a:hover {
  color: var(--primary-red);
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info a {
  font-size: 1.75rem;
  color: var(--section-sub-headers);
}

#price:hover {
  color: var(--primary-red);
}
