/* Footer */
/* OLD DESKTOP VERSION */
/* footer {
  background-color: var(--primary-red);
  color: #fdf6e3;
  padding: 1rem 12rem 1rem 12rem;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content h3 {
  font-size: 3rem;
}

.footer-icons {
  display: flex;
}

.footer-icons ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer-icons ul li {
  font-size: 4rem;
}

.footer-icons ul li:hover {
  color: #5e120e;
} */
/* OLD DESKTOP VERSION */

/* MOBILE-FIRST LAYOUT */
footer {
  background-color: var(--primary-red);
  color: #fdf6e3;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-content h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

ul.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

ul.footer-icons li {
  font-size: 1.75rem;
}
