/* Menu List */

/* OLD DESKTOP VERSION */
/* .menu-list.container {
  color: #a81f19;
  padding: 2rem 4rem 8rem 2rem;
  background-color: #fdf6e3;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.menu-list h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.menu-list ul {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
}

.menu-list li:hover {
  cursor: pointer;
  color: var(--primary-red);
} */
/* OLD DESKTOP VERSION */

/* MOBILE-FIRST LAYOUT */
.music-list,
.collections-list,
.artists-list,
.explore-list {
  display: none;
}

.menu-list.container {
  color: #a81f19;
  text-align: center;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(91, 91, 91, 0.16);
}

.mobile-menu-list button {
  font-size: 3rem;
  font-family: 'Bebas Neue';
  color: var(--section-headers);
  border: none;
  background: none;
  padding: 0.25rem;
}

.mobile-menu-list button:not(:last-child) {
  border-bottom: 1px solid #00000024;
}
