/* Upcoming Releases */

/* OLD DESKTOP VERSION */
/* .new-releases.container {
  padding: 4rem 4rem 8rem 4rem;
}

.new-releases-images {
  display: flex;
  justify-content: space-between;
}

.album-card {
  width: 30rem;
  text-align: center;
}

.album-card img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

#baby-dijon {
  width: 20rem;
  height: 20rem;
}

.album-card img:hover {
  scale: 1.05;
}

.new-releases-header {
  text-align: center;
  font-size: 4rem;
  color: #2e2e2e;
}

.album-card a {
  text-decoration: none;
  text-align: center;
}

.album-card a h3 {
  font-size: 2.5rem;
  color: #2e2e2e;
}

.album-card h4 {
  font-size: 2rem;
  color: #3d3d3d;
  font-style: italic;
}

.album-card p {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--primary-red);
}

.album-card p:hover {
  color: #a81f19;
} */
/* OLD DESKTOP VERSION */

/* MOBILE-FIRST LAYOUT */
.new-releases.container {
  padding: 2rem;
}

.new-releases-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.album-card img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.new-releases-header {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
}

.album-card a {
  text-decoration: none;
  text-align: center;
}

.album-card a h3 {
  font-size: 2rem;
  color: #2e2e2e;
}

.album-card h4 {
  font-size: 1.75rem;
  color: #3d3d3d;
  font-style: italic;
}

.album-card p {
  font-size: 2rem;
  color: var(--primary-red);
}
