@import './components/navbar.css';
@import './components/hero.css';
@import './components/collections.css';
@import './components/products.css';
@import './components/video-section.css';
@import './components/upcoming.css';
@import './components/menu-list.css';
@import './components/footer.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #ff3328;
  --section-headers: #2e2e2e;
  --section-sub-headers: #3d3d3d;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Bebas Neue', 'Dancing Script';
  background-color: #fdf6e3;
}
