* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #ff3328;
  --section-headers: #2e2e2e;
  --section-sub-headers: #3d3d3d;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Bebas Neue', 'Dancing Script';
  background-color: #fdf6e3;
}

/* Navbar */
#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
  margin: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #00000078;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
}

.nav-logo a {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-red);
}

.nav-menu-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-menu-item {
  text-decoration: none;
  color: var(--primary-red);
  font-size: 3rem;
  font-weight: 700;
  border-radius: 5px;
}

.nav-menu-item:hover {
  color: #fdf6e3;
}

/* Hero Section */
header {
  background-image: url(/images/Dijon-hero.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000c8;
  z-index: -2;
}

/* Hero Text */
.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  color: #fdf6e3;
}

.hero-text span.hero-h1 {
  color: var(--primary-red);
}

.hero-text h1 {
  font-size: 7rem;
  margin-bottom: 1rem;
  line-height: 8rem;
  width: 80%;
}

.hero-text p {
  font-size: 2.75rem;
  max-width: 90%;
}

/* Hero Img */
.hero-img {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-img h2 {
  font-size: 4rem;
  color: #fdf6e3;
}

.hero-img span {
  color: var(--primary-red);
}

.hero-img img {
  height: 40rem;
  width: 40rem;
  box-shadow: 2px 2px 10px 3px rgba(118, 118, 118, 0.6);
  /* offset-x offset-y blur-radius spread-radius color */
}

.hero-img a {
  font-size: 3rem;
  color: #fdf6e3;
  text-decoration: none;
  margin-top: 0.5rem;
}

.hero-img a:hover {
  cursor: pointer;
  color: red;
}

/* Top Sellers */
.collections-container {
  padding-top: 2rem;
  background: #fdf6e3;
}

.collections-container h2 {
  font-size: 5rem;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 2rem;
}

.collections.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8rem;
}

.collections.card img {
  height: 35rem;
  width: 35rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
}

.collections.card img:hover {
  scale: 1.05;
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.collections.card a {
  text-decoration: none;
  font-size: 3rem;
}

.collections.card a:hover {
  color: var(--primary-red);
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info a {
  font-size: 1.75rem;
  color: var(--section-sub-headers);
}

#price:hover {
  color: var(--primary-red);
}

/* Products */
.products.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
}

.product-card:nth-child(2) {
  flex-direction: row-reverse;
}

.product-card img {
  height: 95vh;
  width: 50vw;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

.product-card-content h2 a {
  font-size: 5rem;
  color: #a81f19;
  text-decoration: none;
}

.product-card-content p {
  font-size: 2.5rem;
}

.product-card-content button.shop-now {
  padding: 1.25rem 2.25rem;
  margin-top: 1rem;
  background-color: #a81f19;
  border: none;
  border-radius: 1rem;
  width: 15rem;
}

.product-card-content button.shop-now:hover {
  background-color: #fdf6e3;
  border: 1px solid #a81f19;
  cursor: pointer;
}

.product-card-content button.shop-now a {
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 700;
  color: #fdf6e3;
}

.product-card-content button.shop-now a:hover {
  color: #a81f19;
}

/* Video Section */
.artist-spotlight {
  background-image: url(/images/record-collection.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.artist-spotlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000a9;
  z-index: -1;
}

.artist-spotlight.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.artist-spotlight-header {
  color: #fdf6e3;
  margin-bottom: 1rem;
}

.artist-spotlight-header h2 {
  font-size: 6rem;
  margin-bottom: 2rem;
  color: #fdf6e3;
}

.artist-spotlight-header p {
  font-size: 3rem;
  color: #fdf6e3;
}

.artist-spotlight-header span {
  color: var(--primary-red);
}

.artist-spotlight-img img {
  height: 55rem;
  width: 90rem;
  border-radius: 0.7rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.artist-spotlight-img p {
  font-size: 3rem;
  color: #fdf6e3;
  margin-top: 2rem;
}

#play-btn {
  position: absolute;
  top: 52%;
  left: 50%;
  z-index: 2;
  font-size: 8rem;
  color: var(--primary-red);
}

#play-btn:hover {
  cursor: pointer;
  scale: 1.1;
}

/* Upcoming Releases */
.new-releases.container {
  padding: 4rem 4rem 8rem 4rem;
}

.new-releases-images {
  display: flex;
  justify-content: space-between;
}

.album-card {
  width: 30rem;
  text-align: center;
}

.album-card img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

#baby-dijon {
  width: 20rem;
  height: 20rem;
}

.album-card img:hover {
  scale: 1.05;
}

.new-releases-header {
  text-align: center;
  font-size: 4rem;
  color: #2e2e2e;
}

.album-card a {
  text-decoration: none;
  text-align: center;
}

.album-card a h3 {
  font-size: 2.5rem;
  color: #2e2e2e;
}

.album-card h4 {
  font-size: 2rem;
  color: #3d3d3d;
  font-style: italic;
}

.album-card p {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--primary-red);
}

.album-card p:hover {
  color: #a81f19;
}

/* Menu List */
.menu-list.container {
  color: #a81f19;
  padding: 2rem 4rem 8rem 2rem;
  background-color: #fdf6e3;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  gap: 20rem;
}

.menu-list h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.menu-list ul {
  list-style: none;
  font-size: 2.5rem;
  line-height: 4rem;
}

.menu-list li:hover {
  cursor: pointer;
  color: var(--primary-red);
}

/* Footer */
footer {
  background-color: var(--primary-red);
  color: #fdf6e3;
  padding: 1rem 12rem 1rem 12rem;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content h3 {
  font-size: 3rem;
}

.footer-icons {
  display: flex;
}

.footer-icons ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer-icons ul li {
  font-size: 4rem;
}

.footer-icons ul li:hover {
  color: #5e120e;
}

/* Media Queries */
@media (max-width: 956px) {
  body {
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .nav-menu {
    display: none;
  }

  nav .hamburger-menu span {
    display: flex;
  }

  nav .nav-logo img {
    height: 15rem;
    width: 15rem;
  }

  nav .nav-logo h2 {
    font-size: 5rem;
  }

  header .hero-text {
    max-width: 100%;
  }

  .top-seller.card img {
    height: 20rem;
    width: 20rem;
  }

  .spinning-record.container {
    display: none;
  }

  .video-section-img img {
    height: 45rem;
    width: 80rem;
  }
}
